* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 600px;
    background: radial-gradient(
              rgb(250, 250, 250) 50%, 
              rgb(160, 160, 160));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dark {
    background: radial-gradient(
              rgb(120, 120, 120) 50%, 
              rgb(30, 30, 30));
}

            /* T I T L E  */

#title_container {
    width: 100%;
    padding: 2rem;
    display: flex;
}

#title {
    text-transform: uppercase;
    font-size: 3em;
    margin: auto;
}

        /* M A I N   C O N T E N T  */

.main {
    width: 100%;
    display: flex;
    justify-content: center;
}

#big {
    width: 75%;
    height: 340px;
    display: grid;
    grid-template-columns: 1fr 15fr 1fr;
    grid-template-areas: "left center right";
    box-shadow: 3px 3px 12px rgba(60, 60, 60, 1);
    position: relative;
}

.left {
    grid-area: "left";
}

.right {
    grid-area: "right";
}

#center {
    grid-area: "center";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: flex-end;
}

#center:hover {
    cursor: pointer;
}

.shown {
    position: absolute;
    top: -100px;
    height: 700px;

    margin: auto;
}

.text {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0.5;
    color: #fff;
    height: auto;
    margin: none;
    padding: 0 0.5rem;
}

.text > h3, .text > p {
    margin: 0.6rem;
    line-height: 1.2rem;
}

.hidden {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
}

.arrow {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in 0.1s;
}

.arrow:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.arrow:active {
    box-shadow: 2px 6px 14px rgb(60, 60, 60);
}

.left:active {
    padding-right: 5px;
}

.right:active {
    padding-left: 5px;
}

        /* S E L E C T O R S  */

#selectors {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0.8rem;
}

.pic {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: #a0a0a0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.9);
    padding: 3px;
    margin-right: 10px;
    transition: 0.2s;
}

.pic:hover {
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.9);
    margin-top: 3px;
    cursor: pointer;
}

.pic > a {
    display: block;
    width: 44px;
    height: 44px;
    background-size: cover;
    background-position: center bottom;
}