* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 770px;
    background: radial-gradient(
              rgb(250, 250, 250) 50%, 
              rgb(160, 160, 160));
}

#title_container {
    width: 1300px;
    padding: 4rem;
    display: flex;
    justify-content: center;
}

#title {
    text-transform: uppercase;
    font-size: 3em;
    margin: auto;
    align-self: center;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
}

#big {
    width: 60%;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 15fr 1fr;
    grid-template-areas: "left center right";
    box-shadow: 3px 3px 12px rgba(60, 60, 60, 1);
}

.left {
    grid-area: "left";
}

.right {
    grid-area: "right";
}

#center {
    grid-area: "center";
}

.arrow {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}