* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 700px;
    background: linear-gradient( #ddd 20%, #fff 40%, #ddd 80%) no-repeat;
}

main {
    box-sizing: border-box;
    width: 732px;
    height: 392px;
    margin: auto;
    margin-top: 100px;
    /* padding: 1.5rem; */
}

#inside_main {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    box-shadow: 2px 2px 7px rgb(160, 160, 160), -2px 2px 7px rgb(160, 160, 160);
    display: grid;
    grid-auto-columns: 330px 1fr;
    grid-auto-rows: 332px 60px;
    grid-template-areas: "left right"
                         "footer footer";
}


            /* left side */


#left {
    grid-area: left;
    background-color: #F5F5F5;
    border-top-left-radius: 6px;
    border-right: solid 1px #dbdbdb;
}

.logo {
    padding: 0.6rem 0 0 1rem;
}

.album {
    float: right;
    margin: 0;
    height: 37%;
}

.playlist_box {
    height: 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.title {
    color: #666;
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.fa-plus {
    font-size: 16px;
    margin-right: 0.5rem;
    color: #303030;
}

.add_new_playlist {
    position: absolute;
    top: 30px;
    display: flex;
    width: 329px;
    height: 64px;
    align-items: center; 
    
}

.add_new_playlist * {
    width: 70px;
    height: 64px;
    border-radius: 8px;
    outline: none;
}

.add_new_playlist input {
    width: 260px;
    margin-right: 0.5rem;
    font-size: 1.5rem;
    padding-left: 0.5rem;
    box-shadow: 6px 6px 12px rgba(0,0,0,0.3), -6px 2px 12px rgba(0,0,0,0.3);
}

.add_new_playlist button {
    cursor: pointer;
    box-shadow: 6px 6px 12px rgba(0,0,0,0.3), -6px 2px 12px rgba(0,0,0,0.3), inset 0px 0px 6px rgba(0,0,0,0.3);
}

.hidden {
    display: none;
}

.playlists {
    height: 63%;
    overflow-y: auto;
}

.list {
    list-style: none;
    line-height: 2rem;
    padding-left: 1rem;
    font-size: 0.7rem;
    color: #888;
}

.fa-times {
    font-size: 14px;
    margin-right: 0.5rem;
    color: #666;
    float: right;
    padding: 9px 0;
}

.list:nth-of-type( odd ), .song:nth-of-type( even ) {
    background-color: #eaeaea;
}

            /* Right side */

            
#right {
    grid-area: right;
    background-color: #F5F5F5;
    border-top-right-radius: 6px;
}

#top_right {
    width: 100%;
    height: 18.3%;
    padding: 8px 0 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subtitle {
    color: #666;
    padding-left: 1rem;
    font-size: 0.8rem;
    color: #9e9e9e;
}

.gray_button {
    color: #b4b4b4;
    margin-right: 0.6rem;
    font-size: 20px;
}

.tracklist {
    height: 82%;
    overflow-y: auto;
}

.song {
    line-height: 2rem;
    font-size: 0.7rem;
    color: #888;
}

.index {
    padding: 0 1rem;
}

.song_length {
    margin-right: 0.5rem;
    float: right;
}


/* footer */


#footer {
    grid-area: footer;
    background-color: #fff;
    border-radius: 0 0 6px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}

#songPlay {
    
}


/* #seek_bar, #volume_bar, #play_bar{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#seek_scroll::-webkit-slider-thumb, #volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    box-shadow: 1px 1px #aaa, 1px -1px #aaa, -1px 1px #aaa, -1px -1px #aaa;
    border-radius: 50%; 
    background: #3cd4ce;
    cursor: pointer;
    border: 3px #fff solid;
}

#play_bar {
    width: 12%;
}

#volume_bar {
    width: 20%;
}

#seek_scroll, #volume {
    -webkit-appearance: none;
    width: 80%;
    height: 4px;
    border-radius: 5px;   
    background: #dbdbdb;
    outline: none;
}

#volume {
    width: 70%;
} */

.time {
    color: #4c4f52;
    font-size: 0.7rem;
}

.icon:hover {
    cursor: pointer;
}


            /* lists click style */


.list:hover, .song:hover {
    cursor: pointer;
}

            /* scrollbar */


main ::-webkit-scrollbar {
    width: 7px;
}

main ::-webkit-scrollbar-track {
    background:transparent;
}

main ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    color: #4c4f52;
    opacity: 1;
}