* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/* h3, h4, h5, h6 {
    font-family: 'Patua One', cursive;
} */

body {
    width: 91%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4%;
}

.main-header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fafafa;
}

header {
    height: 60px;
}

.title {
    float: left;
    text-indent: -1000px;
}

.logo {
    width: 60px;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    border-right: solid 1px #aaa;
    background-color: #fff;
}

.main-header ul {
    margin: auto;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-header li {
    list-style: none;
    float: left;
}

.main-header a {
    text-decoration: none;
    color: black;
}

.cart {
    background-color: #bbb;
    padding: 20px;
    align-items: center;
    width: 90px;
    border-left: solid 1px #aaa;
}

.cart a p {
    float: left;
}

.cart a img {
    float: right;
}

.main-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
}

.main-banner > img {
    float: left;
} 

.after-image {
    width: 35%;
    height: 100%;
    float: right;
}

#readers{
    height: 100%;
    padding: 5%;
    background-color: #1f1f1f;
}

#readers h4, #readers p {
    color: #e6e6e6;
}

#readers h4:first-of-type {
    text-transform: uppercase;
    color: #707070;
}
