* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
    font-family: 'Rubik', sans-serif;
    border-radius: 4px; 
    color: #402A40;
    font-weight: 700;
}

body {
    background-color: #555555;
}

main {
    width: 820px;
    height: 1060px;
    background-color: #c5c5c5;
    margin: 5% auto;
    padding: 40px 80px;
}

.box {
    border: solid tomato 4px;
    padding: 12px;
    display: inline-block;
    
}

.full {
    margin: 0 auto;
    width: 660px;
}

.header {
    height: 70px;
}

.footer {
    height: 450px;
}

.middle {
    width: 330px;
    height: 458px;
    vertical-align: top;
}

h1 {
    font-weight: normal;
    padding: 0 0 0 16px;
}

p {
    Font-size: 20px;
    color: white;
    padding: 12px 12px;
    font-weight: 200;
    width: 290px;
    background-color: #707070;
    margin-bottom: 12px;
}

label, input, select {
    padding: 10px;
    Margin: 10px 0;
}

label {
    font-weight: bold;
    font-size: 12px;

}

.long {
    width: 290px;
}

.short {
    width: 120px;
}

.button {
    margin: 0 8px;
    cursor: pointer;
}

.checkbox_left {
    width: 146px;
}

.checkbox_right {
    width: 146px;
}

.check {
    cursor: pointer;
}

.checkbox_left:nth-child(n) {
    padding: 0 6px;
    display: inline-block;
}

.checkbox_right:nth-child(n) {
    padding: 0 6px;
    display: inline-block;
}

span {
    color: gray;
    padding: 8px 4px;
    display: block;
}

.introduction {
    width: 628px;
    height: 180px;
    margin-top: 10px;
    padding: 10px;
}

#cv {
    display: block;
    cursor: pointer;
}

.bottom {
    margin-top: 16px;
}

.save {
    Font-size: 24px;
    color: white;
    padding: 12px 12px;
    width: 290px;
    background-color: #410787;
    margin-bottom: 12px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.cancel {
    Font-size: 16px;
    padding: 12px 12px;
    width: 200px;
    background-color: #cccccc;
    margin-bottom: 12px;
    border: solid black 1px;
    float: right;
    text-align: center;
    color: black;
    cursor: pointer;
}