* {
    font-size: 8px;
    margin: 1.5em;
    border: 0;
    padding: 0;

}

span {
    padding: 2em;
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    border: 
    
}   

.first span {
    background-color: blue;
    color: blue;
}

.second span {
    background-color: purple;
    color: purple;
}

.second {
    background-color: tomato;
}

.first, .second {
    border: solid;
    border-width: 2px;
    border-color: blue;
    width: 740px;
}