* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px; 
}

body {
    background-color: #555555;
}

main {
    width: 820px;
    height: 1060px;
    background-color: #D4D4D4;
    margin: 5% auto;
    padding: 40px 80px;
}

.box {
/*     padding: 14px; */
    background-color: tomato;
/*     display: inline-block; */
    margin: 20px 20px;

}

.header, .footer  {
    width: 620px;
    height: 60px;
}

.half {
    width: 620px;
    height: 250px;
    padding: 12px 0;
    margin: 12px 0;
}

.first {
    width: 270px;
    height: 250px;
/*     display: inline-block; */
    vertical-align: top;
    float: left;
} 

.second {
    width: 270px;
    height: 250px;
    display: inline-block;
    vertical-align: top;
    float: right;
    
}   


.footer {
    height: 4em;
    height: 400px;
}

article {
/*     padding: 14px; */
    background-color: orange;
}

h2 {
    font-weight: normal;
    font-size: 26px;
 
}

span {
    background-color: #515151;
    color: white;
    font-size: 20px;
    display: inline-block;
    width: 300px;
    padding: 9px 0 9px 11px;
    margin: 8px 13px 8px 0;
}

span:nth-of-type(2) {
    margin: 8px 0;
    float: right;
} 

#name {
    width: 300px;
    height: 26px;
}