.container{
    /* box-sizing: border-box; */
    display: flex;
    background-color: gold;
    height: 300px;
    flex-grow: 1;
    margin: 3%;
    padding: 0;
    justify-content: space-between;
}

.item{
    background-color: #B02AFF;
    width: 100px;
    height: 100px;
    align-self: center;
    list-style: none;
}

