.container{
    margin: 5%;
    display: flex;
    background-color: gold;
    height: 300px;
    width: 90%;
}

.item{
    background-color: #B02AFF;
    width: 80px;
    height: 80px;
    align-self: center;
    list-style: none;
    margin: 5px;
}

